.tickets-stats-container {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
        .tickets-summary {
          display: flex;
          gap: 20px;
        
        }
        .summary-card {
         background: #fff;
          padding: 10px 15px;
          border-radius: 8px;
          border: 1px solid #cbcbcb;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
          flex: 1;
          text-align: center;
        }
          .summary-card h3 {
          font-size: 1rem;
          color: #555;
          text-align: center;
      }

      .summary-card .summary-card-result p {
          font-size: 2rem; 
          font-weight: bold; 
          text-align: center; 
          margin-top: 2rem; 
          margin-bottom: 0;
          color: #3c3c3cff;
      }
        .tickets-details {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-top: 50px;
        }

        .ticket-header, .ticket-row {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        align-items: center;    
        padding: 6px 12px;
        }

        .ticket-header {
        font-weight: 600;
        margin-bottom: 0.75rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #ddd;
        color: #333;
        }

        .ticket-name, 
        .ticket-header span:first-child {
        text-align: left;
        }

        .ticket-sold,
        .ticket-price,
        .ticket-quantity,
        .ticket-header span:not(:first-child) {
        text-align: center;
        }
        .ticket-row{
            border-bottom: 1px solid #d3d3d3;
            padding-bottom: 10px;
        }
